# Vim back file
*.swp

# Maven output directory
target

# sound files
*.mp3
*.wav

#texture files
*.jpg

# Eclipse project files
.classpath
.project
.settings

# logile
log.txt

#converted grammars
*.dos.txt
